/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定

// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: .5em auto .5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: .3s ease-out;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after { right: 15px; }
    }
}

// mp 背景
.mp{
    background: transparent;
    // background: url(../images/bg-mp-1.jpg) 50% top no-repeat;
    // background-attachment: fixed;

    // min-height: 940px;

    position: relative;
    &:before, &:after{
        content: '';
        position: fixed;
        z-index: -1;
    }
    // 左邊的鵝
    &:before{
        width: 460px;
        height: 460px;
        background: url(../images/bg-mp-left.png) 50% 50% no-repeat;
        background-size: contain;
        left: calc((100% - 1000px) / 2 - 230px);
        top: 120px;
    }
    // 右邊的雞
    &:after{
        width:  850px;
        height: 940px;
        background: url(../images/bg-mp-right.png) right 0 top 76px no-repeat;
        right: calc((100% - 1000px) / 2 - 480px);
        top: 0;
        z-index: -2;
    }

    @media screen and (max-width: 1200px) {
        // 左邊的鵝
        &:before{
            transform: scale(.85);
            left: 30px;
            top: 70px;
        }
        // 右邊的雞
        &:after{
            transform: scale(.95);
            right: -29%;
            top: -6%;
        }
    }

    @include screen('tablet') {
        // // 左邊的鵝
        // &:before{
        //     transform: scale(.65);
        //     // left: 15px;
        //     left: calc(25% - 144px);
        //     top: 25px;
        // }
        // // 右邊的雞
        // &:after{
        //     // opacity: .75;
        //     transform: scale(.75);
        //     top: -70px;
        // }
        // 左邊的鵝
        &:before{
            transform: scale(.45);
            // left: -23px;
            left: calc(50% - 360px);
            // top: 126px;
            top: 210px;
        }
        // 右邊的雞
        &:after{
            transform: scale(.65);
            // top: -15px;
            top: 40px;
            right: calc(50% - 426px);
        }
    }
    // @include screen('mobile') {
    //     // 左邊的鵝
    //     &:before{
    //         transform: scale(.55);
    //         // left: -23px;
    //         top: 101px;
    //     }
    //     // 右邊的雞
    //     &:after{
    //         transform: scale(.55);
    //         top: -70px;
    //         right: calc(50% - 426px);
    //     }
    // }

    // @include screen('xs_mobile') {
    //     // 左邊的鵝
    //     &:before{
    //         top: 210px;
    //     }
    //     // 右邊的雞
    //     &:after{
    //         top: 40px;
    //     }
    // }
}

.mp, .join{
    // 清除未登入狀態時的背景色
    .header {
        &:before {
            background: transparent;
        }
    }
}


// 會員登入、加入會員
.members{
    padding: 1.5em 0 2.5em;
    
    .container{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .col{
            &:first-child{
                a{
                    display: inline-block;
                    vertical-align: middle;
                    padding: .75em 2em .75em 3.5em;
                    border-radius: 2em;
                    // background: $lightColor;
                    color: #fff;
                    font-size: 1.5em;

                    &:first-child{
                        margin-left: 3.25em;
                    }
                    &.login{
                        background: url(../images/icon-login.svg) 1.75em 50% no-repeat, $lightColor;
                        background-size: 32px 32px;
                    }
                    &.join{
                        background: url(../images/icon-join.svg) 1.75em 50% no-repeat, $lightColor;
                        background-size: 32px 32px;
                    }
                }
            }
            &.others{
                margin-left: 2em;
                a{
                    padding: 0 1em;
                    min-height: 2.5em;
                    font-weight: bold;
                    line-height: 2.5em;
                    white-space: nowrap;
                    color: #222;
                    display: inline-block;
                    font-size: 1.25em;
                    background: rgba(255,255,255,.75);
                    backdrop-filter: blur(2px);
                    transition: .3s;

                    &:hover, &:focus{
                        background: rgba(255,255,255,1);
                    }
                }
            }
        }
    }

    @include screen('tablet') {
        padding: 2.5em 0 14em;
        text-align: center;
        .container{
            justify-content: center;
            .col{
                &:first-child{
                    a{
                        display: block;
                        margin-bottom: 10px;
                        &:first-child{ margin-left: 0; }
                    }
                }
                &.others{ display: none; }
            }
        }
    }

    @include screen('mobile') {
        // padding: 2.5em 0 14em;
        // text-align: center;
        a{
            &:first-child{
                margin-left: 0;
                max-width: auto;
                // a{ display: block; }
            }
        }
    }
    // @include screen('xs_mobile') {
    //     a{ margin-bottom: 10px; }
    // }
}

$links-m-gutter: 8px;
.main-info{
    .container{
        background: rgba(255,255,255,.75);
        backdrop-filter: blur(3px);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // background: pink;
        border-radius: 8px;
        padding: 45px 60px;
    }

    // 圖片連結
    .img-link{
        a.links{
            margin: 12px 0;

            // 裝飾色塊
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                // top: 1.5em;
                top: -1em;
                border-style: solid;
                border-width: 120px 200px 0 0;
                border-color: $secondaryColor transparent transparent transparent;
            }
            &:after{
                content: '';
                position: absolute;
                width: 70px;
                height: 5px;
                background: #fb5e00;
                transform: rotate(-31.5deg);
                left: 5.4em;
                top: 1.6em;
            }
            // 標題
            span{
                display: inline-block;
                padding: 24px 20px;
                font-size: 1.25em;
                color: #222;
                font-weight: bold;
                // margin-top: 1.25em;
                margin-top: -1em;

                position: absolute;
                z-index: 1;
            }

            // 說明
            p{
                margin: 0;
                position: absolute;
                width: 100%;
                bottom: 0;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                color: #fff;
                padding: 5em 2em 1em;
            }
        }
        &:first-child{
            margin-bottom: 24px;
            a.links{
                display: block;
                width: 100%;
                height: 100%;
                min-height: 176px;
                max-height: 424px;

                background: url(../images/mp-link-1.jpg) 50% 50% no-repeat;
                background-size: 103%;
                transition: .3s;
                &:hover, &:focus{
                    background-size: 120%;
                }

                // 裝飾色塊
                &:before{
                    border-width: 130px 260px 0 0;
                    border-color: #fb5e00 transparent transparent transparent;
                }
                &:after{
                    background: $secondaryColor;
                    transform: rotate(-27deg);
                    left: 8.2em;
                }
                // 標題
                span{ color: #fff; }color: #fff; 
            }
        }
        &:last-child{
            @extend %flex_set;
            a.links{
                @include flex-xs-equal(1, 0px);
                @include flex-sm-equal(1, 0px);
                @include flex-md-equal(2, $links-m-gutter);
                @include flex-lg-equal(2, $links-m-gutter);
                // @include gutter();

                height: 200px;
                margin: 12px 0;

                &:nth-child(1){
                    background: url(../images/mp-link-2.jpg) 50% 50% no-repeat;
                }
                &:nth-child(2){
                    background: url(../images/mp-link-3.jpg) 50% 50% no-repeat;
                }
                &:nth-child(3){
                    background: url(../images/mp-link-4.jpg) 50% 50% no-repeat;
                }
                &:nth-child(4){
                    background: url(../images/mp-link-5.jpg) 50% 50% no-repeat;
                }

                &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
                    // background-size: 120%;
                    background-size: 100%;
                    transition: .3s;
                }
                &:hover, &:focus{
                    &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
                        // background-size: 140%;
                        background-size: 120%;
                    }
                }
            }
        }

        @include screen('tablet') {
            &:first-child{ margin-bottom: 36px; }
            &:last-child{
                a.links{ margin-bottom: 24px;}
            }
        }
    }

    // 公告
    .news{
        .title{
            font-size: 1.25em;
            margin: 2em 0 .5em;
            span{
                display: inline-block;
                border: 1px solid #afafaf;
                background: #fff;
                padding: 14px 60px 10px 16px;

                // 裝飾線條
                position: relative;
                &:before, &:after{
                    content: '';
                    position: absolute;
                    background: $lightColor;
                }
                &:before{
                    width: 4px;
                    height: 30px;
                    left: -2px;
                    top: 0;
                }
                &:after{
                    width: 64px;
                    height: 4px;
                    left: -2px;
                    top: -2px;
                }
            }
        }
        ol{
            @include li-reset;
            li{
                a{
                    display: block;
                    padding: .45em 0;
                    color: #222;
                    border-bottom: 1px solid #ddd;
                    transition: all ease .3s;

                    time{
                        font-size: .813em;
                        padding-right: .75em;
                    }

                    &:hover, &:focus{
                        padding: .45em 1em;
                        // background: rgba(255,205,0,.65);
                        background: #e6e6e6;
                    }
                }
                &:last-child{
                    a{ border-bottom: 1px solid transparent; }
                }
            }
        }
    }
}


// 範例：
// .demosection {
//     [class^="col"] {
//         border: 2px solid #FFF;
//         background: #DEDEDE;
//     }
// }
// 首頁輪播
// .mpSlider {
//     width: 100%;
//     padding-bottom: 3em;
//     @include gutter(0);
//     .img-container {
//         @include aspect-ratio(5, 2);
//     }
// }
// 廣告輪播
// .adSlider {
//     @include gutter(70px);
//     margin-bottom: 20px;
//     @include screen('mobile') {
//         @include gutter();
//     }
//     .slic0k-prev {
//         background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
//         background-size: 80%;
//         left: -15px;
//     }
//     .slick-next {
//         background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
//         background-size: 80%;
//         right: -15px;
//     }
//     .img-container {
//         width: 165px;
//         height: 55px;
//         margin: 0px 15px;
//         a {
//             display: block;
//             text-align: center;
//             img {
//                 margin: 0 auto;
//             }
//         }
//         &:focus {
//             &:before {
//                 content: "";
//                 position: absolute;
//                 z-index: 9;
//                 width: 100%;
//                 height: 100%;
//                 top: 0;
//                 left: 0;
//                 bottom: 0;
//                 right: 0;
//                 box-shadow: 0 0px 0px 3px $primaryColor inset;
//             }
//         }
//     }
// }

