* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    // &.noscroll {
    //     position: static !important;
    //     width: 100%;
    //     height: 100%;
    //     overflow: hidden !important;
    //     overflow-y: hidden !important;
    //     margin: 0;
    //     padding: 0;
    // }

    background: url(../images/bg-mp-1.jpg) 50% top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.videoSearch{
  padding: 1.25em;
  background: #f4f4f4;
  border: 1px solid #ddd;
  .form_grp{
    position: relative;
    label {
      font-weight: bold;
      font-size: 125%;
    }
    input{
      padding-right: 5em;
      width: -webkit-fill-available;
    }
    button{
      position: absolute;
      right: 0;
      bottom: 1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include screen('mobile') {
    background: #fff;
    .form_grp{
      input{
        padding-right: 1em;
      }
      button{
        position: static;
        width: -webkit-fill-available;
      }
    }
  }
}

// 內頁（兩物件 水平、垂直置中）
// h2節點 ＋ function功能區塊
.flex-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    h2.title{
      color: #408204;
    }

    h2.title,
    .function_panel {
        flex: 1 1 auto;
    }

    @include screen('mobile') {
        flex-flow: row wrap;

        h2.title,
        .function {
            flex: 1 1 100%;
        }
    }
}

.sub-title {
    // color: #074cbc;
    color: #0e2871;
    font-size: 1.35em;
    padding-left: .75em;
    border-left: solid 4px #0e2871;
}

// 表單分類標題
.form_main_title {
    color: darken($lightColor, 6);
}

.flex-form .form_grp .form_title {
    color: #222;
}

// 使用者操作
.header {

    // 導覽列
    .navigation {
        .navlist {

            // 使用者操作
            &.user_control {
                font-size: 1em;
                text-align: right;
                font-weight: bold;

                span {
                    padding-right: 4px;
                }

                .btn-logout {
                    padding: 0 1.125em;
                    margin: 0;
                    line-height: 46px;
                    border-radius: 26px;
                }
            }
        }

        @include screen('tablet') {
            .navlist {

                // 使用者操作
                &.user_control {
                    .btn-logout {
                        line-height: 36px;
                        background: #fff;
                    }
                }
            }
        }
    }
}

.user_control {
    @include screen('mobile') {

        // color: #fff;
        a {
            // color: yellow;
            padding: .75em .25em;
            text-decoration: underline;
            transition: all 600ms ease;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

// 訪視紀錄
// 上傳訪視內容
.file-upload {
    padding: 1.5em 2.5em;
    background: #f4f4f4;
    border: 1px solid #ddd;
}

.list-history {
    .title {}

    // 訪視紀錄
    .list-info-box {
        @extend %flex_set;
        align-items: center;
        margin: 10px 0;
        border: solid 1px #ddd;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        >ul {
            li {
                line-height: 1.8;

                a,
                b {
                    color: red;
                }

                a {
                    padding: 0 4px;
                    text-decoration: underline;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }

        >.count {
            padding: 10px 20px;
            width: 100%;

            .flex-form {
                background: #f3f3f3;
                border-top: solid 1px #d1d1d1;
                border-bottom: solid 1px #d1d1d1;
                margin-left: -20px;
                margin-right: -20px;
                padding: 0 20px;

                .form_title {
                    padding: 1em 0;
                }
            }

            h4 {
                font-size: 1.25em;
                margin: 1em 0 0;
                color: #000074;
            }

            a,
            b {
                color: red;
            }
        }

        .img-container {
            @include flex-xs(12, 0px);
            @include flex-sm(6, $m-gutter);
            @include flex-md(4, $m-gutter);
            @include flex-lg(4, $m-gutter);
        }

        .info {
            @include flex-xs(12, 0px);
            @include flex-sm(3, $m-gutter);
            @include flex-md(6, $m-gutter);
            @include flex-lg(6, $m-gutter);
            font-size: 1.125em;

            .title {
                font-size: 1.3em;
                padding-left: .75em;
                margin: 0;

                span {
                    display: inline-block;
                    border: 1px solid #ddd;
                    padding: .6em 1em .45em;

                    // 裝飾線條
                    position: relative;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        background: $lightColor;
                    }

                    &:before {
                        width: 4px;
                        height: 20px;
                        left: -2px;
                        top: 0;
                    }

                    &:after {
                        width: 26px;
                        height: 4px;
                        left: -2px;
                        top: -2px;
                    }
                }
            }

            li {
                line-height: 1.6;
            }
        }

        .operate {
            @include flex-xs(12, 0px);
            @include flex-sm(3, $m-gutter);
            @include flex-md(2, $m-gutter);
            @include flex-lg(2, $m-gutter);
            text-align: center;
        }
    }

    @include screen('mobile') {
        // .list-info-box {
        //     padding-bottom: 1.25em;
        // }

        .operate {
            padding-bottom: 1.25em;
        }
    }
}

.nice {
    color: green;
}

.bad {
    color: red;
}

// 放進function_panel樣式
.function_panel {
    @include screen('mobile') {
        flex-flow: row nowrap;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;

    // background: url(../images/bg-mp-1.jpg) 50% top no-repeat;
    background-attachment: fixed;

    // 左邊的鵝
    position: relative;

    &:before {
        content: '';
        position: fixed;
        width: 420px;
        height: 420px;
        background: url(../images/bg-mp-left.png) 50% 50% no-repeat;
        background-size: contain;
        left: calc((100% - 1000px) / 2 - 210px);
        top: 120px;
    }

    &.video{
      &:before {
        width: 620px;
        height: 620px;
        background: url(../images/bg-mp-left2.png) 50% 50% no-repeat;
        background-size: contain;
        left: calc((100% - 1000px) / 2 - 480px);
      }
    }

    @include screen('mobile') {
        // background: #fff;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 影音專區內容頁
.videInfo{
  .videoHere{
    background: #ddd;
    margin: 1.25em auto;
  }
  span.tag{
    display: inline-block;
    font-size: 85%;
    font-weight: bold;
    border: 1px solid #555;
    padding: 2px 6px;
    border-radius: 3px;
    margin: 1.5em 4px .75em 0;
  }
  .caption{
    span, time{
      margin-right: 1em;
    }
  }
  h4{
    font-size: 125%;
  }
}

ul.videList{
  li{
    a{
      display: block;
      padding: .25em 0;
    }
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;

    @include screen('tablet') {
        padding-top: 60px;
    }

    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .flex-form {
        flex: 1 1 auto;
    }

    .note {
        padding-left: 2em;

        span {
            margin-left: 12px;
        }

        .place {
            font-size: 1.25em;
            font-weight: bold;
        }

        b {
            padding: 0 2px;
            font-size: 1.25em;
            font-weight: bold;
            color: #922416;
        }
    }

    @include screen('tablet') {
        flex-flow: row wrap;
        margin: 1.25em 0;

        .flex-form {
            flex: 1 1 100%;
        }

        .note {
            padding-left: 0;
        }
    }

    @include screen('xs_mobile') {
        .note {
            span {
                margin-left: 0;
                display: block;
            }
        }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        // padding-top: 1em;
        // @include gutter(); //gutter 代表左右要留白
        display: flex;

        background: rgba(255, 255, 255, .9);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 2em 2em;
        margin-top: 1.5em;
        border-radius: 8px;

        &.desk-only {
            background: transparent;
            box-shadow: none;
            padding: 0;

            .desk-menu {}
        }

        // 捷徑
        &.shortcut{
          display: block;
          padding: 1em 2em 2em;
          h3{}
          ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
              flex: 0 0 auto;
              min-width: calc(100% / 6 - 4px);
              // @debug math.div(1, 6)
              a{
                display: block;
                text-align: center;
                width: 100%;
                padding: .75em .65em;
                color: #fff;
                background: #444;
                font-size: 112.5%;
                border-radius: 6px;
                border: 1px solid transparent;
                img{
                  display: block;
                  width: 100%;
                  height: 32px;
                  margin-bottom: 6px;
                  margin-right: 4px;
                }

                transform: scale(1);
                transition: .3s;

                &:hover, &:focus-visible{
                  transform: scale(1.2);
                  background: #408204;
                  position: relative;
                  z-index: 2;
                  border: 1px solid #fff;
                }
              }
            }

            @include screen('tablet') {
              flex-wrap: wrap;
              li{
                min-width: calc(100% / 2 - 4px);
                margin: 4px 0;
              }
            }
          }
        }
    }

    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }

    .left_block {
        flex: none;
        flex-basis: 260px;
        max-width: 260px;
        margin-right: 40px;
        align-self: flex-start;

        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }

        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
        }

        @include screen('tablet') {
            display: none;

            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }

    &.small_size {
        font-size: 0.938em;
    }

    &.large_size {
        font-size: 1.125em;
    }

    .showbox {
        background: #f7f7f7;
        border: 1px solid #ddd;

        // 等級比率
        &.ratio {
            padding: 3em 1em;
            position: relative;

            @extend %flex_set;

            .col {
                &:first-child {
                    @include flex-xs(12, 0px);
                    @include flex-sm(12, 0px);
                    @include flex-md(8, 8px);
                    @include flex-lg(8, 8px);

                    position: relative;

                    .grade {
                        position: absolute;
                        background: rgba(255, 255, 255, .9);
                        border: 1px solid #ddd;
                    }

                    .map {
                        // background: #fff;
                    }
                }

                &:last-child {
                    @include flex-xs(12, 0px);
                    @include flex-sm(12, 0px);
                    @include flex-md(4, 8px);
                    @include flex-lg(4, 8px);

                    .scroltable {
                        min-width: auto !important;
                    }
                }
            }

            .map {
                // height: 900px;
            }
        }

        // 圖台
        &.map_box {
            min-height: 500px;
            text-align: center;
            line-height: 500px;

            span {
                font-size: 2em;
                font-weight: bold;
            }
        }

        .grade {
            border-radius: 4px 4px 0 0;
            overflow: hidden;

            h3 {
                text-align: center;
                background: #cdcdcd;
                margin: 0;
                font-size: 1.125em;
                padding: 0.5em 0;
            }

            ul {
                @include li-reset;
                padding: 1em 1.5em;

                li {
                    display: flex;
                    align-items: center;
                    padding: .25em 0;

                    &:before {
                        content: '';
                        display: inline-block;
                        margin-right: 4px;
                        width: 22px;
                        height: 22px;
                        background: #c6c340;
                        border-radius: 50%;
                    }

                    &:nth-child(2):before {
                        background: #fde1b5;
                    }

                    &:nth-child(3):before {
                        background: #f6a866;
                    }

                    &:nth-child(4):before {
                        background: #ea5b4a;
                    }
                }
            }

            table {
                background: #fff;
                font-size: .9em;

                th,
                td {
                    border-left: 0;
                    border-right: 0;
                    text-align: center;

                    &:first-child {
                        border-left: #ddd 1px solid;
                    }

                    &:last-child {
                        border-right: #ddd 1px solid;
                    }
                }

                th {
                    background: #fff;
                    // font-size: .9em;
                    line-height: 1.2;
                }

                td {}

                tr {
                    td {

                        &:nth-child(2),
                        &:nth-child(3) {
                            color: #922416;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        @include screen('mobile') {

            // 等級比率
            &.ratio {
                padding: 1.65em 1em;

                .map {
                    margin-top: 11em;
                }
            }
        }
    }
}

.hidden {
    display: none;
}
